<%- include('partials/header'); -%>

<h1>MANAGER</h1>
<br><br>
<h2><li><a href="http://localhost:3000/api-docs/"class="btn">INVENTORY MANAGEMENT</a></li></h2>
<br>
<h2><li><a href="http://localhost:2000/api-docs/"class="btn">ROOM MANAGEMENT</a></li></h2>

<%- include('partials/footer'); -%>