<%- include('partials/header'); -%>

<h1>OWNER</h1>
<br><br>
<h2><li><a href="http://localhost:4000/api-docs/" class="btn">STAFF MANAGEMENT</a></li></h2>
<br>
<h2><li><a href="http://localhost:7000/api-docs/" class="btn">LOGIN MANAGEMENT</a></li></h2>
<br>
<h2><li><a href="/signup" class="btn">Sign up</a></li> </h2>

<%- include('partials/footer'); -%>