<%- include('partials/header'); -%>

<h1>RECEPTION</h1>
<br><br>
<h2><li><a href="http://localhost:1000/api-docs/"class="btn">GUEST MANAGEMENT</a></li></h2>
<br>
<h2><li><a href="http://localhost:5000/api-docs/"class="btn">PAYMENT MANAGEMENT</a></li></h2>
<br>
<h2><li><a href="http://localhost:5000/payments/"class="btn">PAYMENT GATEWAY</a></li></h2>

<%- include('partials/footer'); -%>